{% extends 'admin_nav.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">


<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<style>
    /* #ff9800  */
    .warning {
        border-color: orangered;
        color: orangered;
    }

    .warning:hover {
        background: orangered;
        color: white;
    }

</style>

<div class="container mt-5">
    <h2 class="text-center">VIEW USERS</h2>
    <table class="table" id = "example">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
            <th scope="col">Branch</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for item in users %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td style="text-transform: capitalize;">{{item.user.first_name}} {{item.user.last_name}}</td>
            <td>{{item.user.username}}</td>  <!-- we have saved email in username column in DB-->
            <td>{{item.contact}}</td>
            <td>{{item.branch}}</td>
            <td>{{item.role}}</td>
            
            <td><a href="{% url 'admin_delete_user' item.user.id %}" onclick="return confirm('Are You Sure?')"><button type="submit" class="btn warning">Delete</button></a></td>

          </tr>
          {% endfor %}
          
        </tbody>
      </table>
     
   
   
</div>

{% endblock body %}
