{% extends 'usernavigation.html' %}
{% block body %}
<style>
    /* #ff9800  */
    .warning {
        border-color: orangered;
        color: orangered;
    }

    .warning:hover {
        background: orangered;
        color: white;
    }

</style>

<div class="container mt-5">
    <div class="row">

    <center>

        <div class="col-sm-6">
            <h2 class="text-center" style="font-family: cursive;font-weight: bold;">Change Password</h2>
            <hr>
            <form method="POST" action="/changepassword/">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="oldpassword" class="form-label" style="font-family: cursive;font-weight: bold;">Old Password</label>
                    <input type="text" name="oldpassword" class="form-control" id="oldpassword"
                        placeholder="Enter your old Password">

                </div>
                <div class="mb-3">
                    <label for="newpassword" class="form-label" style="font-family: cursive;font-weight: bold;">New Password</label>
                    <input type="text" name="newpassword" class="form-control" id="newpassword"
                        placeholder="Enter new Password">
                </div>

                <div class="mb-3">
                    <label for="confirmpassword" class="form-label" style="font-family: cursive;font-weight: bold;">Confirm New Password</label>
                    <input type="text" name="confirmpassword" class="form-control" id="confirmpassword"
                        placeholder="Confirm Your Password">
                </div>
                

                

                <button type="submit" class="btn warning">Submit</button>
            </form>
        </div>
    </center>
    </div>
</div>

{% ifequal error "no" %}
<script>
  alert("Password Changed Successfully");
  window.location.href='/logout';

</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
  alert("Something went wrong, Try Again");
</script>
{% endifequal %}


{% endblock body %}
