{% extends 'navigation.html' %}
{% block body %}

<style>
    .image {
        height: 500px;
        width: 100%;
        
        background: url('/static/img/contact.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
       
    }

</style>

<div class="container-fluid" style="width:100%;padding-left:0;padding-right:0;">
    <div class="image img-fluid" alt="loading...">
        <div class="contact-transparentBox">
            <h3 style="font-weight: bold;font-family: cursive;font-size: 8.4vw;padding-top: 10%;" class="text-light text-center">Contact</h3>
        </div>
    </div>
</div>

<div class="container my-4">
    


        <h4><i class="fas fa-envelope fa-1x marg me-4" style="text-align: left;"></i>Email ID: sanmil.jadhav@gmail.com</h4>
        <h4><i class="fab fa-facebook-square fa-1x me-4" style="text-align: left;"></i>FB Profile</p>
        <h4><i class="fab fa-instagram fa-1x me-4" style="text-align:left;"></i>Instagram Profile</p>
        
    
   



</div>

{% endblock body %}
